body {
    background-color: bisque;
    display: flex;
    margin-top: 15vmin;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#div_principal {
    background-color: bisque;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    padding: 1vmin;
    text-align: center;
}
#base_triangulo{
    margin-left: 1vmin;
}
#verificar {
    background-color: rgb(154, 103, 10);
    color: white;
}